{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_profile_edit" novalidate>
    {{ form_widget(form) }}
    <div class="row">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-success col-sm-offset-4" />
    </div>
</form>
