<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>{% block title %}Porównywarka usług kurierskich Polska - Anglia{% endblock %}</title>

  </head>

  <body id="top">
      
    {% block body %}{% endblock %}

  </body>
</html>
