<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="description" content="Porównywarka usług kurierskich Polska - Anglia">
        <meta property="fb:app_id" content="492291570937632" />
        <meta property="fb:admins" content="100001235722244"/>

        <title>{% block title %}Porównywarka usług kurierskich Polska - Anglia{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/app/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/chosen.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/bootstrap-multiselect.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/app/js/html5shiv.js') }}"></script>
          <script src="{{ asset('bundles/app/js/respond.min.js') }}"></script>
        <![endif]-->
  </head>

  <body id="top">

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
    <div id="are-you-courier" class="hidden-xs"></div>
  {% endif %}

  <!-- begin:topbar -->
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="topbar-nav topbar-left">
              <li class="disabled"><a href="mailto:info@twojkurier.uk"><i class="fa fa-envelope"></i> info@twojkurier.uk</a></li>
            </ul>
            <ul class="topbar-nav topbar-right hidden-xs">
              <li><a href="https://www.facebook.com/twojkurier.uk" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <ul class="topbar-nav topbar-right">
                <li class="hello">Witaj {{ app.user.firstName }} {{ app.user.lastName }}</li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- end:topbar -->

    <!-- begin:navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url('homepage') }}">
              <img src="{{ asset('bundles/app/images/logo.png') }}" alt="Twój kurier" />
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">

            {# User notification #}
            {{ notification() }}

            {# Main menu #}
            {% set root = knp_menu_get('AppBundle:Builder:mainMenu') %}
            {% set menu = root['home'] %}
            {{ knp_menu_render(menu, {'depth': 2, 'firstClass': '', 'currentClass': 'active', 'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}

        </div>
      </div>

    </nav>
    
    {% block base_content %}{% endblock %}

    <!-- begin:footer -->
    <div id="footer">
      <div class="container">

        <div class="row">
          <div class="col-md-12 links">

            {# Footer menu #}
            {% set root = knp_menu_get('AppBundle:Builder:footerMenu') %}
            {% set menu = root['home'] %}
            {{ knp_menu_render(menu, {'currentClass': 'active', 'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}

            <a href="#top" class="btn btn-success scroltop"><i class="fa fa-angle-up"></i></a>
          </div>
        </div>

      </div>
    </div>
    <!-- end:footer -->

    <!-- begin:modal-signin -->
    <div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Zaloguj się</h4>
          </div>
          <form action="{{ path("fos_user_security_check") }}" method="post">
            <div class="modal-body">
                <div class="form-group">
                  <label for="emailAddress">Email</label>
                  <input type="email" name="_username" class="form-control input-lg" placeholder="Wpisz email">
                </div>
                <div class="form-group">
                  <label for="password">Hasło</label>
                  <input type="password" name="_password" class="form-control input-lg" placeholder="Hasło">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Zapamiętaj mnie
                  </label>
                </div>
            </div>
            <div class="modal-footer">
              <p>Nie masz konta? <a href="{{ path('fos_user_registration_register') }}">Zarejestruj się</a></p>
              <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-block btn-lg">Zaloguj</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
          </form>
        </div>
      </div>
    </div>
    
    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.easing.js') }}"></script>
    <script src="{{ asset('bundles/app/js/script.js') }}"></script>
    <script>{% block javascript %}{% endblock %}</script>

  </body>
</html>
