{% extends "base.html.twig" %}

{% block base_content %}

    <!-- begin:content -->
    <div id="content" class="single-column">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-container">
              <div class="blog-content">

                  <div class="row">
                      <div class="col-md-12 col-sm-12">
                          {% for label, flashes in app.session.flashbag.all %}
                              {% for flash in flashes %}
                                  <div class="alert alert-{{ label }}">
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                      {{ flash|raw }}
                                  </div>
                              {% endfor %}
                          {% endfor %}
                      </div>
                  </div>

                    <ol class="breadcrumb">
                        {{ cnerta_breadcrumb_render('AppBundle:Builder:mainMenu', {'template': 'AppBundle:Menu:breadcrumb.html.twig'}) }}
                        {{ cnerta_breadcrumb_render('AppBundle:Builder:footerMenu', {'template': 'AppBundle:Menu:breadcrumb.html.twig'}) }}
                    </ol>

                    <div class="blog-title">
                        <h2>{% block title %}{% endblock %}</h2>
                    </div>

                    <div class="blog-text contact">
                        
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                            
                    </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:content -->
    
{% endblock %}