{% extends "base.html.twig" %}

{% block base_content %}

    <div id="content" class="two-columns">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ flash|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 sidebar">
                    {% block left_column %}{% endblock %}
                </div>
                <div class="col-md-9 ">
                    {% block right_column %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}