{% extends "oneColumn.html.twig" %}

{% block title %}
  Sprawdź email
{% endblock %}

{% block content %}

    {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>


{% endblock %}
