{% extends "oneColumn.html.twig" %}

{% block title %}
  Konto potwierdzone
{% endblock %}

{% block content %}

    <h5>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</h5>

    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}

{% endblock %}
