{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%firstName%': user.firstName, '%lastName%': user.lastName, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%firstName%': user.firstName, '%lastName%': user.lastName, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
