{% extends "oneColumn.html.twig" %}

{% block title %}
  Abonament
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      {% if app.user.hasValidMembership() %}

        <h4>Twój abonament kończy się za {{ daysLeft }} dni.</h4>

      {% else %}

        <h4>Twój abonament został zakończony.</h4>

      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <table class="membership">
        <tr>
          <th>Lp</th>
          <th>Ważne od</th>
          <th>Ważne do</th>
          <th>&nbsp;</th>
        </tr>
        {% for membership in memberships %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ membership.getDateFrom()|date("d/m/Y") }}</td>
            <td>{{ membership.getDateTo()|date("d/m/Y") }}</td>
            <td>
              {% if loop.first %}
                <a href="#" class="button">Przedłuż</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}