{% extends "oneColumn.html.twig" %}

{% block javascript %}
  $(document).ready(function() {

        var currencies = ['PLN', '&pound;'];
        
        // If Anglia is selected as a country from
        // then swap values in the array
        if ($('.country-from').val() == 1) {
            currencies = ['&pound;', 'PLN'];
            $('.currency').html('PLN');
        } 

        $('.swap').click(function(e){

            // swap options values
            var countryFrom = $('.country-from').val();
            var countryTo = $('.country-to').val();
            $('.country-from').val(countryTo);
            $('.country-to').val(countryFrom);

            // change the currency
            var currentCurrency = currencies.splice(0,1);
            $('.currency').html(currentCurrency);
            currencies.push(currentCurrency[0]);

            e.preventDefault()

        });

    });

{% endblock %}

{% block title %}
  Moja oferta
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'class': 'add-offer-block form-horizontal', 'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <div class="col-md-12 heading">
                Droga przesyłki
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.countryFrom) }}
            </div>
            <div class="col-md-5">
                {{ form_widget(form.countryFrom) }}
            </div>
            <div class="col-md-6 error">
                {{ form_errors(form.countryFrom) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-5 text-center">
                <a href="" class="swap">&#8595;&#8593; zmień</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.countryTo) }}
            </div>
            <div class="col-md-5">
                {{ form_widget(form.countryTo) }}
            </div>
            <div class="col-md-6 error">
                {{ form_errors(form.countryTo) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 heading">
                Waga
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.weightFrom) }}
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    {{ form_widget(form.weightFrom) }}
                    <div class="input-group-addon"> kg</div>
                </div>
            </div>
            <div class="col-md-6 error">
                {{ form_errors(form.weightFrom) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.weightTo) }}
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    {{ form_widget(form.weightTo) }}
                    <div class="input-group-addon"> kg</div>
                </div>
            </div>
            <div class="col-md-6 error">
                {{ form_errors(form.weightTo) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 heading">
                Koszt usługi
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    {{ form_widget(form.price) }}<div class="input-group-addon currency">&pound;</div>
                </div>
            </div>
            <div class="col-md-6 error">
                {{ form_errors(form.price) }}
            </div>
        </div>

        <div class="form-group">
                {% if app.request.attributes.get('_route') == 'new_price' or app.request.attributes.get('_route') == 'add_price' %}
                    <div class="col-sm-12">
                        {{ form_widget(form.submit, { 'label': 'Dodaj'}) }}
                    </div>
                {% else %}
                    <div class="col-md-3 col-xs-6">
                        {{ form_widget(form.submit, { 'label': 'Edytuj' }) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {{ form_end(form) }}
    
{% endblock %}