{% extends "oneColumn.html.twig" %}

{% block title %}
  Zarządzaj ofertą
{% endblock %}

{% block content %}

    {% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}
    
    <div class="panel panel-default bc-collection">
        <div class="panel-heading">
            Dni odbioru paczek od klienta
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-10">
                            {{ form_widget(form.collections)  }}
                        </div>
                     </div>
                </div>

                <div class="form-group">
                   <div class="col-xs-offset-5 col-xs-5">
                       <button type="submit" class="btn btn-success">Zapisz</button>
                   </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}