{% extends "oneColumn.html.twig" %}

{% block title %}
  Mój cennik
{% endblock %}

{% block javascript %}
    $(document).on("click", ".confirm", function(e) {
        var link = $(this).attr("href");
        e.preventDefault();
        bootbox.confirm("Jesteś pewny, że chcesz usunąć tę ofertę cenową?", function(result) {
            if (result) {
                document.location.href = link;
            }
        });
    });
{% endblock %}

{% block content %}

    <a name="my-price"></a>
    <div class="panel panel-default">
        <div class="panel-heading">Cennik</div>
            <div class="row">
                <div class="col-md-12">
                {% if prices %}
                    <table class="my-offer table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Z</th>
                                <th>Do</th>
                                <th>Waga</th>
                                <th>Koszt usługi</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for price in prices %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ price.countryFrom }}</td>
                                <td>{{ price.countryTo }}</td>
                                <td>{{ price.weightFrom }} - {{ price.weightTo }} kg</td>
                                <td>{{ price.getCalculatedPrice() | raw}}</td>
                                <td>
                                    <a href="{{ path('edit_price', { 'id': price.id }) }}" title="Edytuj">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a> |
                                    <a href="{{ path('delete_price', { 'id': price.id }) }}" class="confirm" title="Usuń">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Nie dodano jeszcze żadnej oferty cenowej.</p>
                {% endif %}
                </div>
            </div>

        </div>

         <div class="row">
            <div class="col-md-12">
                <a href="{{ url('new_price') }}" class="btn btn-success">Dodaj nową ofertę cenową</a>
            </div>
        </div>

    </div>



{% endblock %}