{% extends "::oneColumn.html.twig" %}

{% trans_default_domain 'MremiContactBundle' %}

{% block title %}{{ 'mremi_contact.form_page_title'|trans }}{% endblock %}

{% block content %}
    <section>
        <h3>{{ 'mremi_contact.confirm_title'|trans({
            '%title%':    '',
            '%fullName%': contact.fullName
        }) }}</h3>
    </section>

    <p>{{ 'mremi_contact.confirm_message'|trans }}</p>
{% endblock %}