{% extends "::oneColumn.html.twig" %}

{% trans_default_domain 'MremiContactBundle' %}

{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ 'mremi_contact.form_page_title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('mremi_contact_form')}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
