{% block root %}
    {% for item in items %}

        {% if item.uri is not null %}

            {% if not loop.last %}<li><a href="{{ item.uri }}">{{ item.label|trans }}</a></li>
            {% else %}<li class="active">{{ item.label|trans }}</li>{% endif %}

        {% endif %}

    {% endfor %}
{% endblock root %}
