{% extends "oneColumn.html.twig" %}

{% block title %}
  Logowanie
{% endblock %}

{% block content %}

    {% if error %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="row">
            <div class="col-md-3">
                <label for="username">E-mail:</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="password">Hasło:</label>
            </div>
            <div class="col-md-5">
                <input type="password" id="password" name="_password" required="required" />
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                </div>
            <div class="col-md-5">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            </div>
            <div class="col-md-4">
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-3">
                </div>
            <div class="col-md-5">
                <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
            

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-block btn-lg">Zaloguj</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
            

    </form>

{% endblock content %}
