{% extends "oneColumn.html.twig" %}

{% block title %}
  Przypomnienie hasła
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
        </div>
    </div>

{% endblock content %}
