/*
	========================================
	MIKHA - REAL ESTATE TEMPLATE
	========================================
	
	@author			: @avriqq
	@version		: v1.0
	@date-create	: 06/02/2014
	@last-update	: 08/22/2014
	@file-name		: style

*/

@media screen and (min-width: 1200px){
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.heading-title h2 {
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}

@media screen and (min-width: 768px){
	.navbar-nav.navbar-right:last-child {
		margin-right: 0; 
	}

	#content.single-column,
        #content.two-columns {
		padding-top: 140px;
	}
}

@media screen and (max-width: 767px){
	.topbar{
		position: static;
		width: 100%;
		left: 0;
		top: 0;
	}

	.topbar-nav{
		font-size: 12px;
		float: none;
		display: table;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.navbar{
		min-height: 80px;
	}

	.navbar-default.navbar-fixed-top{
		position: static;
		left: 0;
		top: 40px;
		margin-bottom: 0;
	}
        
        .navbar-default .navbar-brand {
            max-width: 250px;
        }
        
        .navbar-default .navbar-brand img {
            width: 230px;
        }

	.navbar-header{
		min-height: 80px;
	}

	.navbar-collapse{
		border-top-color: #e54e5d !important;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #888;
	}
        
        .navbar-default .navbar-toggle {
            margin-top: 19px;
        }

	.navbar-default .navbar-nav > li > a{
		padding-top: 12px;
		padding-bottom: 12px; 
		padding-left: 15px;
	}

	.navbar-default .navbar-nav > .active > a::before{
		content: "";
		display: none;
		background: transparent;
	}

	.navbar-default .navbar-nav > .active > a::after{
		content: "";
		display: none;
	}

	.navbar-default .navbar-nav li.dropdown.open > a,
	.navbar-default .navbar-nav li.dropdown.open > a:hover{
		color: #fff;
		background-color: #8cc152;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
		background-color: #8cc152;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #898ba2;
		padding-top: 12px;
		padding-bottom: 12px; 
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #fff;
		background-color: #8cc152; 
	}

	.dropdown-menu > li > a{
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 25px;
	}

	.signin,
	.signup{
		margin-top: 0;
	}

	.signup{
		margin-left: 0;
		background-color: transparent !important;
		color: #898ba2 !important;
	}

	.signup:hover,
	.signup:focus,
	.signup:active{
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
			-ms-border-radius: 0;
			 -o-border-radius: 0;
				border-radius: 0;
		background-color: #0f101a !important;
		color: #fff !important;
	}
	
	#header{
		width: 100%;
		min-height: 250px;
		height: auto;
	}

	#header.heading{
		padding-top: 30px;
	}

	#header .carousel-control > .glyphicon,
	#header .carousel-control > .fa{
		font-size: 16px;
		line-height: 24px;
	}

	#header .carousel-control.left,
	#header .carousel-control.right{
		margin-top: 10%;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.carousel-control .icon-prev, 
	.carousel-control .fa,
	.carousel-control .icon-next, 
	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .glyphicon-chevron-right{
		top: 25%;
	}

	#header .carousel-inner .item{
		min-height: 250px;
		height: auto;
		padding-top: 40px;
	}

	#header .carousel-inner .item .carousel-caption{
		background-color: rgba(255,255,255,.9);
		right: 15%;
		left: 15%;
		color: #6b6e80;
		text-shadow: none;
		text-align: left;
		padding: 25px;
	}

	.sidebar{
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.blog-title,
	.blog-text,
	.blog-meta,
	.blog-paged,
	.blog-comment,
	.blog-comment-form{
		padding-left: 10%;
		padding-right: 10%; 
	}

	.blog-comment ul.comments ul{
		margin-left: 0;
	}

	#slider-property .carousel-control > .glyphicon, 
	#slider-property .carousel-control > .fa {
		font-size: 16px;
		line-height: 24px;
	}

	.copyright{
		text-align: center;
		position: relative;
		margin-top: 60px;
		padding: 40px 0;
		border-top: 1px solid #2c3e50;
	}

	.copyright .scroltop{
		right: 15px;
	}

	#content.single-column, 
        #content.two-columns {
		padding-top: 40px;
	}

}

@media screen and (max-width: 480px){
	.heading-title h2{
		padding: 10px 14px;
		font-size: 18px;
		line-height: 24px;
	}

	/*.property-image-list {*/
		/*position: relative;*/
		/*width: 100%;*/
		/*display: block;*/
		/*vertical-align: top;*/
	/*}*/

	.property-text {
		position: relative;
		width: 100%;
		display: block;
		padding: 10px 15px;
		vertical-align: top;
	}

	.testimony-image{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.testimony-content{
		display: block;
		margin-left: 0;
		text-align: center;
	}

	#testislider .carousel-control.left {
		z-index: 3;
		left: 15px;
		right: auto;
	}

	#testislider .carousel-control.right {
		z-index: 3;
		right: 15px;
		left: auto;
	}

	#subscribe h3{
		display: block;
		text-align: center;
	}

	#slider-property .carousel-indicators{
		display: none;
	}
	#content.single-column, 
        #content.two-columns {
		padding-top: 40px;
	}

}