{% extends "oneColumn.html.twig" %}

{% block title %}
  Cookie Informations
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
     content here
    </div>
  </div>

{% endblock %}