{% extends "twoColumns.html.twig" %}

{% block title %}
  Kurierzy
{% endblock %}

{% block left_column %}

    <div class="widget widget-white">
        
        <div class="widget-header">
            <h3>Wyszukaj</h3>
        </div>  
        
        <form action="{{ path('couriers') }}" {{ form_enctype(searchForm) }} method="GET" class="advance-search">
            {{ form_widget(searchForm) }}
            <input type="submit" name="submit" value="Szukaj" class="btn btn-success btn-block">
        </form>
            
    </div>

{% endblock %}

{% block right_column %}

    <!-- begin:sorting -->
    <div class="row sort">
      <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <ol class="breadcrumb">
                        {{ cnerta_breadcrumb_render('AppBundle:Builder:mainMenu', {'template': 'AppBundle:Menu:breadcrumb.html.twig'}) }}
                    </ol>
                </div>
                <div class="col-sm-6">
                    <form class="form-inline" role="form">
                      <span>Sort by : </span>
                      <div class="form-group">
                        <label class="sr-only" for="sortby">Sort by : </label>
                        <select class="form-control">
                            {% if search %}
                                <option>Ostatnio dodane</option>
                                {#<option>Wg. ceny (Low &gt; High)</option>#}
                                {#<option>Wg. ceny (High &gt; Low)</option>#}
                            {% else %}
                                <option>Ostatnio dodane</option>
                            {% endif %}
                        </select>
                      </div>
                    </form>
                </div>
            </div>
      </div>
    </div>
    <!-- end:sorting -->

    <div class="row container-realestate">

        {% for item in pagination %}

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="property-container">
                    
                    <div class="property-content-list">

                        {# if serach is used #}
                        {% if search %}
                       
                            <div class="property-text">
                                <h3>
                                    <a href="{{ path('courier_show', {'slug': item.getUser().getSlug()}) }}">{{ item.getUser().getCompany() }}</a>
                                    <small>{{ item.getUser().getAddress() }}</small></h3>
                                    <p>
                                         Dni odbioru paczek:<br />
                                        {% for collection in item.getUser().getCollections %}
                                            <strong>{{ collection.getCountry() }}:</strong> {{ collection.getDays|join(', ') }}<br />
                                        {% endfor %}
                                    </p>
                                    <p><a href="{{ path('courier_show', {'slug': item.getUser().getSlug()}) }}" class="btn btn-success">Zobacz więcej &raquo;</a></p>
                            </div>

                            <div class="property-image-list">
                                {% if item.getUser().getLogoName() %}
                                    <img src="{{ asset('assets/logos') }}/{{ item.getUser().getLogoName() }}" alt="{{ item.getUser().getCompany() }}" class="hidden-xs">
                                {% endif %}
                                <div class="property-price">
                                  <span>{{ item.getCalculatedPrice()|raw }}</span>
                                </div>
                            </div>
                        {# otherwise #}
                        {% else %}  
                            
                            <div class="property-text">
                                <h3>
                                    <a href="{{ path('courier_show', {'slug': item.getSlug()}) }}">{{ item.getCompany() }}</a>
                                    <small>{{ item.getAddress() }}</small></h3>
                                    <p>
                                         Dni odbioru paczek:<br />
                                        {% for collection in item.getCollections %}
                                            <strong>{{ collection.getCountry() }}:</strong> {{ collection.getDays|join(', ') }}<br />
                                        {% endfor %}
                                    </p>
                                    <p><a href="{{ path('courier_show', {'slug': item.getSlug()}) }}" class="btn btn-success">Zobacz więcej &raquo;</a></p>
                            </div>

                            <div class="property-image-list">
                                {% if item.getLogoName() %}
                                    <img src="{{ asset('assets/logos') }}/{{ item.getLogoName() }}" alt="{{ item.getCompany() }}" class="hidden-xs">
                                {% endif %}
                            </div>
                                  
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}