{% extends "twoColumns.html.twig" %}

{% block title %}
  Kurierzy - {{ courier.getCompany() }}
{% endblock %}

{% block javascript %}
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
{% endblock %}

{% block left_column %}
    <div class="widget widget-white">

        {% if courier.getLogoName() %}
            <img class="company-logo" src="{{ asset('assets/logos') }}/{{ courier.getLogoName() }}" alt="{{ courier.getCompany() }}" class="hidden-xs">
        {% endif %}

        <h4 class="text-center">{{ courier.getCompany() }}</h4>

        {# Contact details #}
        {% if courier.getPolishPhoneNumber() %}
            <div><i class="fa fa-phone"></i> {{ courier.getPolishPhoneNumber() }}</div>
        {% endif %}
        {% if courier.getBritishPhoneNumber() %}
            <div><i class="fa fa-phone"></i> {{ courier.getBritishPhoneNumber() }}</div>
        {% endif %}
        {% if courier.getContactEmail() %}
            <div><i class="fa fa-envelope-o"></i> <a href="mailto:{{ courier.getContactEmail() }}?subject=Kontakt ze strony TwojKurier.uk" >{{ courier.getContactEmail() }}</a></div>
        {% endif %}
        {% if courier.getWebsite() %}
            <div><i class="fa fa-laptop"></i> <a href="{{ courier.getWebsite() }}" target="_blank">{{ courier.getWebsite() }}</a></div>
        {% endif %}
        {% if courier.getAddress() %}
            <div><i class="fa fa-building-o"></i> {{ courier.getAddress() }}</div>
        {% endif %}

    </div>
{% endblock %}

{% block right_column %}
    <div id="fb-root"></div>
    <div class="col-md-12 single-post">
        
    <ol class="breadcrumb">
        {{ cnerta_breadcrumb_render('AppBundle:Builder:mainMenu', {'template': 'AppBundle:Menu:breadcrumb.html.twig'}) }}
    </ol>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="detail">
          
        <div class="row">
          <div class="col-md-12">
            
            <h3>Cennik</h3>
            <table class="table table-striped">
                <tr>
                    <th>Z kraju</th>
                    <th>Do kraju</th>
                    <th>Waga</th>
                    <th>Cena</th>
                </tr>
                {% for offer in courier.getOffers() %}
                    <tr>
                      <th>{{ offer.getCountryFrom() }}</th>
                      <td>{{ offer.getCountryTo() }}</td>
                      <td>{{ offer.getWeightFrom() }} - {{ offer.getWeightTo() }} kg</td>
                      <td>{{ offer.getCalculatedPrice()|raw }}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <h3>Odbiór paczek</h3>
            <table class="table table-striped">
                {% for collection in courier.getCollections() %}
                    <tr>
                      <th>{{ collection.getCountry() }}</th>
                      <td>{{ collection.getDays|join(', ') }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="fb-comments" data-href="{{ app.request.getUri }}" data-numposts="5" data-version="v2.3"></div>

          </div>
        </div>


      </div>
      
    </div>
  </div>

{% endblock %}