{% extends "base.html.twig" %}

{% block base_content %}

    <!-- begin:header -->
    <div id="header" class="heading" style="background-image: url({{ asset('bundles/app/images/delivery-man.jpg') }});">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="quick-search">
              <div class="row">
                  
                {% form_theme searchForm 'bootstrap_3_layout.html.twig' %}
                  
                {{ form_start(searchForm) }}
                
                      <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                          {{ form_label(searchForm.countryFrom) }}
                          {{ form_widget(searchForm.countryFrom) }}
                        </div>
                      </div>
                      <!-- break -->
                      <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                          {{ form_label(searchForm.countryTo) }}
                          {{ form_widget(searchForm.countryTo) }}
                        </div>
                      </div>
                      <!-- break -->
                      <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                          {{ form_label(searchForm.weight) }}
                          <div class="input-group">
                            {{ form_widget(searchForm.weight, {'value': 30}) }}<div class="input-group-addon">kg</div>
                          </div>
                        </div>
                      </div>
                      <!-- break -->
                      <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                          <label for="submit">&nbsp;</label>
                          <input type="submit" name="submit" value="Szukaj" class="btn btn-success btn-block">
                        </div>
                      </div>
                      
                {{ form_end(searchForm) }}
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:header -->
    
    {#<!-- begin:news -->#}
    {#<div id="news">#}
      {#<div class="container">#}
        {#<div class="row">#}
          {#<!-- begin:blog -->#}
          {#<div class="col-md-4 col-sm-4">#}
            {#<div class="row">#}
              {#<div class="col-md-12">#}
                {#<div class="heading-title heading-title-sm bg-white">#}
                {#<h2>Aktualności</h2>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<!-- break -->#}

            {#<div class="row">#}
              {#<div class="col-md-12">#}
                {#<div class="post-container post-noborder">#}
                  {#<div class="post-content">#}
                    {#<div class="post-meta">#}
                      {#<span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">berita utama</a></span>#}
                      {#<span><em>April 22, 2014</em></span>#}
                    {#</div>#}
                    {#<div class="heading-title">#}
                      {#<h2><a href="#">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin</a></h2>#}
                    {#</div>#}
                  {#</div>#}
                {#</div>#}
                {#<!-- break -->#}

              {#</div>#}
            {#</div>#}
            {#<!-- break -->#}

          {#</div>#}
          {#<!-- end:blog -->#}

          {#<!-- begin:popular -->#}
          {#<div class="col-md-4 col-sm-4">#}
            {#<div class="row">#}
              {#<div class="col-md-12">#}
                {#<div class="heading-title heading-title-sm bg-white">#}
                    {#<h2>Najnowsi kurierzy</h2>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<!-- break -->#}

            {#<div class="row">#}
              {#<div class="col-md-12">#}
                {#{% for courier in latestCouriers %}#}
                    {#<div class="post-container">#}
                        {#<div class="post-content">#}
                            {#<div class="heading-title">#}
                                {#<h2>#}
                                    {#<a href="{{ path('courier_show', {'slug': courier.getSlug()}) }}">{{ courier.getCompany() }}</a>#}
                                {#</h2>#}
                                {#<div class="post-meta">#}
                                    {#<span><i class="fa fa-phone"></i> {{ courier.getBritishPhoneNumber() }}, {{ courier.getPolishPhoneNumber() }}</span><br />#}
                                    {#{% if courier.getContactEmail() %}#}
                                        {#<span><i class="fa fa-envelope-o"></i> {{ courier.getContactEmail() }}</span><br>#}
                                    {#{% endif %}#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endfor %}#}
              {#</div>#}
            {#</div>#}
            {#<!-- break -->#}

          {#</div>#}
          {#<!-- end:popular -->#}

          {#<!-- begin:agent -->#}
          {#<div class="col-md-4 col-sm-4">#}
            {#<div class="row">#}
              {#<div class="col-md-12">#}
                {#<div class="heading-title heading-title-sm bg-white">#}
                  {#<h2>Ostatnie komentarze</h2>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<!-- break -->#}

            {#<div class="row">#}
              {#<div class="col-md-12">#}

                {#<div class="post-container post-noborder">#}
                  {#<div class="post-content list-agent">#}
                    {#<div class="heading-title">#}
                      {#<h2><a href="#">Julia</a></h2>#}
                    {#</div>#}
                    {#<div class="post-meta">#}
                      {#<span><i class="fa fa-envelope-o"></i> johndoe@domain.com</span><br>#}
                      {#<span><i class="fa fa-phone"></i> +12345678</span>#}
                    {#</div>#}
                  {#</div>#}
                {#</div>#}
                {#<!-- break -->#}

              {#</div>#}
            {#</div>#}
            {#<!-- break -->#}

          {#</div>#}
          {#<!-- end:agent -->#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
    {#<!-- end:news -->#}
{% endblock %}