{% extends "oneColumn.html.twig" %}

{% block title %}
  Sitemap
{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-md-12">

          <ul>
              <li><a href="{{ path('homepage') }}">Home</a>
                <ul>
                    <li><a href="{{ path('couriers') }}">Kurierzy</a></li>
                    <li><a href="{{ path('tandc') }}">Regulamin</a></li>
                    <li><a href="{{ path('cookieinformations') }}">Cookie Informations</a></li>
                    <li><a href="{{ path('sitemap') }}">Sitemap</a></li>
                    <li><a href="{{ path('mremi_contact_form') }}">Kontakt</a></li>
                </ul>
              </li>
          </ul>

      </div>
  </div>

{% endblock %}