{% extends "oneColumn.html.twig" %}

{% block title %}
  Regulamin
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <ol>
        <li>TwojKurier.uk przedstawia oferty kurierów, które zostały zdefiniowane podczas rejestracji użytkownika lub wprowadzone przez administratora systemu.</li>
        <li>TwojKurier.uk jest aplikacją przedstawiającą ofertę firmy kurierskiej. Nie świadczy usług kurierskich ani przewozowych.</li>
        <li>TwojKurier.uk prezentuje oferty firm niezależnych. Prezentowane w systemie ceny nie stanowią oferty handlowej w rozumieniu przepisów prawa. Twojkurier.uk nie odpowiada za rozbieżności między ofertą prezentowaną na stronie a bezpośrednio u kuriera.</li>
        <li>TwojKurier.uk prezentuje oferty firm kurierskich o zasięgu międzynarodowym.</li>
        <li>TwojKurier.uk zastrzega sobie prawo odmowy (w tym także bez podania przyczyny) umieszczenia oferty firmy.</li>
        <li>Każdy partner ma prawo do zawieszenia lub wyłączenia prezentacji swojej firmy i oferty w serwisie TwojKurier.uk w dowolnym momencie bez podania przyczyny.</li>
        <li>
          Administratorem i właścicielem serwisu jest firma:<br />
          Innotech Studio LTD<br />
          Numer firmy: 09872012
        </li>
      </ol>
    </div>
  </div>

{% endblock %}